<div class="content-info">
    <content-info topic="vm.selectedTopic" currentpage="interview"></content-info>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="leftNav">
            <topic-list topics="vm.topicList" selected-topic="vm.selectedTopic.ID" type="interview"></topic-list>
        </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="answerbox content-body" ng-if="vm.questionList.ques.length>0">
            <div id="divData" class="divData">
                <div class='qt' ng-repeat="q in vm.questionList.ques">
                    <div class='tblQuesList'>
                        <span class='ques' id='que_{{q.id}}' itemprop='keywords' data-id='{{q.id}}'>
                            {{q.q}}
                        </span>

                        <div class='answerbox' data-id='{{q.id}}' itemprop='text' id='ans_{{q.id}}'>
                            <span ng-bind-html="vm.$sce.trustAsHtml(q.a)"></span>
                        </div>
                    </div>
                </div>
            </div>


            <dir-pagination ng-if="vm.questionList.total > vm.questionList.perpage" pagetype="interview" topicurl="{{vm.url}}" currentpage="{{vm.questionList.currentpage}}" total="{{vm.questionList.total}}" perpage="vm.questionList.perpage"></dir-pagination>

        </div>
        <div class="no-data text-sm" ng-if="vm.questionList.ques.length===0">No questions added in this section. We are working on this topic and will update soon...</div>
    </div>
</div>