<div class="wrapper" ng-controller="HeaderController as vm" id="devHeaderController">

    <div class="layout-header-row2">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="header-logo-box">
                    <a href="/"> <img class="imglogo" ng-src="{{vm.logoImage}}" /></a>
                    <a href='/' class="a-company-name"><span class="f">ILearn</span><span class="m"> - Online</span><span class="l">Learning</span></a>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <!--<ul class="ul-top-header ul-top-header-links">
                    <li class="ul-top-header-right pull-right"><a href="javascript:void(0)" ng-disabled="true" title="coming soon" ng-click="vm.showModel()">Sign In</a></li>
                    <li class="ul-top-header-right pull-right">
                        <a href="javascript:void(0)" ng-disabled="true" title="coming soon">Register</a>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>

    <div class="layout_header">
        <div class="layout-header-row1">
            <ul class="ul-top-header">
                <li ng-repeat="mn in vm.menuRow1" class="ul-top-header">
                    <a ng-class="{selected : vm.currentState===mn.state}" ng-click="vm.setActivePage(mn.state)"  ui-sref="{{mn.state}}">{{mn.label}}</a>
                </li>

            </ul>
        </div>
    </div>

    <div ui-view=""></div>
    <div class="layout_footer">

        <div class="home-footer-follow-us">Follow us on</div>

        <div class="social">
            <ul class="spicesocialwidget" id="swtop" style="margin-bottom: 0px; display: inline-flex;">
                <li class="facebook"><a rel="nofollow" href="https://www.facebook.com/ilearn.in/" target="_blank" title="ilearn on facebook" class="tt"></a></li>
                <li class="googleplus"><a rel="nofollow" href="https://plus.google.com/b/109991524994030112733/109991524994030112733/posts/p/pub" target="_blank" title="ilearn on google plus" class="tt"></a></li>
                <li class="rss"><a rel="nofollow" href="http://ilearn-learningzone.blogspot.in/" target="_blank" title="ilearn on blogs" class="tt"></a></li>
                <li class="dribbble"><a rel="nofollow" href="http://ilearnlearningzone.wordpress.com/" target="_blank" title="ilearn on wordpress" class="tt"></a></li>
            </ul>
        </div>


        <div class="home-disclaimer">
            <a>Advertise</a><span class="sep"> |</span>
            <a>Terms of use</a><span class="sep"> |</span>
            <a>Privacy policy</a><span class="sep"> |</span>
            <a>Feedback</a><span class="sep"> | </span>
            <a>Report an issue</a>
            <br />
            © ilearn.net.in 2017, All Rights reserved.
        </div>

    </div>
</div>