<div class="wt-toolbox">
    <a href="javascript:void(0)" class="btn btn-xs btn-default" ng-click="copyToClipboard(inputtext)" title="copy to clipboard"><span class="glyphicon glyphicon-list-alt"></span></a>
    <a href="javascript:void(0)" class="btn btn-xs btn-default" ng-click="openInNewWindow(inputtext)" title="open in new window"><span class="glyphicon glyphicon-new-window"></span></a>
    <a href="javascript:void(0)" class="btn btn-xs btn-default" ng-click="printText(inputtext)" title="print"><span class="glyphicon glyphicon-print"></span></a>
</div>